<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/categorias/updatem/<%= data.id %>" method="POST">
          <div class="form-group">
            <input type="text" name="categoria" value="<%= data.categoria%>" placeholder="Categoria" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="descripcion" value="<%= data.descripcion%>" placeholder="Descripcion" class="form-control">
          </div>

          <button style="background-color: green;" type="submit" class="btn btn-primary">
            Actualizar Categoria
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
